# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore environment files
.env
.env.local

# Ignore MacOS files
.DS_Store

# Ignore audio clips directory 
audio_clips/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp

